<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RedirectMatch 403 ^/(system).*$
    RewriteRule ^(.*)$ inicio.html [L]
</IfModule>